@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@theme {
  /* Font */
  --font-sora: Sora;
  --font-poppins: Poppins;

  /* Colors */
  --color-purple: #6E14B0;
  --color-orange: #FF7551;
  --color-purple-light: #E9DCF3;
  --color-orange-light: #FFEEEA;
  --text-dark: #282828;

  /* Shadows */
  --shadow-hover: 0px 25px 25px -15px rgba(0, 0, 0, 0.35);
}

.hero {
  height: calc(100vh - 140px);
}